*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: linear-gradient(90deg, rgb(202, 10, 202), rgb(115, 199, 233));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-container, .loading-screen {
  background: linear-gradient(90deg, rgb(202, 10, 202), rgb(115, 199, 233)); 
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  text-align: center;
  width: 90%;
  max-width: 400px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #000000;
  box-sizing: border-box; /* Asegura que el padding no desborde */
}

button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  background-color: #02199c;
  color: white;
}

button.secondary {
  background-color: #2abdf7;
  color: #fafafa;
}

button:hover {
  opacity: 0.9;
}

#error-message {
  color: red;
  font-size: 0.9rem;
}

.loading-screen img {
  width: 60px;
  height: 60px;
  margin-bottom: 1rem;
}

.forgot-password {
  margin-top: 10px;
  font-size: 0.9rem;
}

.forgot-password a {
  color: #000000;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: underline;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding: 10px 40px 10px 10px; /* espacio a la derecha para el ícono */
  margin: 10px 0;
  border-radius: 8px;
  border: 1px solid #000000;
  box-sizing: border-box;
  font-size: 1rem;
}

.password-wrapper button {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 22px;
  width: 22px;
}

.logo {
  display: block;
  margin: 10px auto 20px auto;
  max-width: 190px;
  height: auto;
  position: relative;
  left: -10px; 
}

.horarios-page {
  overflow-y: auto;
  height: auto;
}

.horario-container {
  background: linear-gradient(90deg, rgb(202, 10, 202), rgb(115, 199, 233));
  padding: 2rem 1rem;
  border-radius: 12px;
  width: 100%;
  max-width: 450px;
  color: black;
  text-align: left;
}

.titulo-principal {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

.subtitulo {
  margin: 0;
  font-size: 1.4rem;
  text-align: left;
}

.recorridos {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-size: 1.2rem;
  text-align: left;
}

.seccion-horarios {
  margin-bottom: 1.5rem;
}

.seccion-horarios h4 {
  margin-bottom: 0.3rem;
  color: #ffffff;
}

.etiqueta {
  font-size: 0.9rem;
  color: #000;
  margin-bottom: 0.4rem;
}

.grupo p {
  display: flex;
  justify-content: space-between;
  padding: 4px 0;
  margin: 0;
  font-size: 1rem;
  color: #000;
}

.grupo span {
  font-weight: bold;
}
